@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
  max-width: 750px;
  margin: auto;
  padding: 1rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.greeting {
  font-family: "Raleway";
  font-size: 5rem;
  margin: 0;
  color: var(--light-mode-purple);
}

.header {
  align-items: center;
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1em;
}

@media (max-width: 800px) {
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 2em;
  }
}

.hr {
  border: 1px solid black;
}

.imgContainer {
  display: flex;
  flex-flow: row;
  gap: 1em;
  padding-left: 1rem;
  padding-right: 2rem;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.name {
  font-size: 3rem;
  padding-top: 0.5em;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  text-align: justify-all;
  flex-direction: column;
  /* border: blue solid 3px; */
}

@media (max-width: 500px) {
  .section {
    grid-template-columns: 1fr;
  }
}

.smContainer {
  display: flex;
  flex-flow: row;
  font-size: 2rem;
  color: gray;
}

.smImage {
  opacity: 0.5;
}

.smImage:hover {
  opacity: 1.0;
  cursor: pointer;
}